/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* font-family: 'Sacramento', cursive; */
@layer base {
    html{
font-family: 'Lexend Deca', sans-serif;

}
  }

   html::-webkit-scrollbar{
    background-color:transparent;
   width: 10px !important;
   height: 10px !important;
  } 
  html::-webkit-scrollbar-thumb {
    background-color: #f43b60;
    height: 6px !important;
    width: 6px !important;
    border-radius: 6px;
  }

   html::-webkit-scrollbar-track{
    background-color: linear-gradient(60deg, #3792e4, #f43b60);
    height: 2px !important;
    width: 2px !important;
  } 
  

  .myName{
    font-family: 'Sacramento', cursive;
    font-size: 1.8rem;
    cursor: pointer;
  }


  

  @media screen and (min-width:786px) {
    .tagItems{
      font-size: 2rem !important;
    }
  }
.tagItems{
  font-weight: bold;
  background-image: linear-gradient(60deg, #3792e4, #f43b60);
  background-clip: text;
  color: transparent;
  font-size: 1rem;
}

  /*  */
  img{
    object-fit: cover;
  }
img,svg{
  cursor: pointer;
}

body{
    background-color: #1B2430;
    scroll-behavior: smooth;
  
}
.projectImg-wrraper{
  background-image: linear-gradient(60deg, #3792e4, #f43b60);

}
a{
  cursor: pointer;
  transition: .4s ease-in-out;
}
a:hover{
  transform: scale(1.1);
}
.imgWrraper{
  
  background-image: linear-gradient(60deg, #3792e4, #f43b60);

}
/* TYPOGRAPHY CUSTOMIZING */

h1,h3{
   
    background-image: linear-gradient(60deg, #3792e4, #f43b60);
    background-clip: text;
    color: transparent;
    line-height:1.4 ;
 
}

a::after{
  content:url('../src/assets/arrow-right-solid\ \(2\).svg');
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-left: 10px;
  transform: translateY(2px);
  
}


p{
  line-height: 1.7 !important;
}