/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* font-family: 'Sacramento', cursive; */
@layer base {
    html{
font-family: 'Lexend Deca', sans-serif;
}
  }

  .myName{
    font-family: 'Sacramento', cursive;
    font-size: 1.8rem;
    cursor: pointer;
  }

  img{
    object-fit: cover;
  }
img,svg{
  cursor: pointer;
}

body{
    background-color: #1B2430;
}

.imgWrraper{
  
  background-image: linear-gradient(60deg, #3792e4, #f43b60);

}
/* TYPOGRAPHY CUSTOMIZING */

h1{
   
    background-image: linear-gradient(60deg, #3792e4, #f43b60);
    background-clip: text;
    color: transparent;
}
